.btn {
    font-size: 30px;
    cursor: pointer;
    margin-left: 25px;
    border-radius: 50%;
    background: rgba($color: #fff, $alpha: .12);
    color: white;
}
.faq-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answers {
    max-width: 350px;
    text-align: center;
    font-size: 18px;
}

.answers::before {
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
    background: rgba($color: #000000, $alpha: .5);
}