@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.password-reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12.5em;
    
}

.password-reset {
    font-family: montserrat, sans-serif;
    box-shadow: 0 10px 10px 10px rgba(121, 121, 121, .65);
    padding: .8rem 1.85rem;
    border-radius: 16px;
    background: #fff;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fg-input {
    width: 350px;
    padding: 10px;
    margin: 16px;
    outline: none;
}
.submit-email {
    background: #4285f4;
    padding: 0;
    border-radius: 10px;
    width: 180px;
    cursor: pointer;
    outline: none;
    border: none;
    overflow: hidden;
    color: #fff;
    font-size: 18px;
    height: 2.5rem;
}