html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: auto;
  font-family: 'Smooch Sans', sans-serif;
  overflow-x: hidden;
  
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.create-product {
  margin-top: 130px
}

@keyframes loaderSwipeAnim{
  0%{
    left: -100%
  }
  100%{
    left: 100%
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;


